//
//  Common - Category main
//  _____________________________________________

& when (@media-common = true) {
    .sidebar {
        &.sidebar-main {
            display: none;
        }
    }

    .catalog-category-view {


        .columns {
            align-items: stretch;
            display: flex;
            height: 100%;
            position: relative;
            width: 100%;
        }

        .column.main {
            flex-grow: 1;

            & > .page-main {
                position: relative;
            }

            .breadcrumbs {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .category-view {
            border: 1px solid red;

            & + .page-title-wrapper {
                border: 1px dashed green;
                display: none;

                & + .products-total {
                    display: none;
                    border: 1px solid blue;
                }
            }

        }

    }
}

//
//  Desktop before tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-view {
        .header.content {
            margin-bottom: 28px;
        }
    }
}

//
//  Middle 640
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .catalog-category-view {
        .column.main {
            width: 100%;
        }
    }
}


