//
//  Common - Category main
//  _____________________________________________

& when (@media-common = true) {
    .catalog-category-view {
        .columns {
            align-items: stretch;
            display: flex;
            height: 100%;
            position: relative;
            width: 100%;
        }

        .column.main {
            flex-grow: 1;

            & > .page-main {
                position: relative;
            }

            .breadcrumbs {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .category-view {
            & + .page-title-wrapper {
                display: none;

                & + .products-total {
                    display: none;
                }
            }
        }

        .category-view {
            position: relative;

            .catagory-title {
                .lib-font-size(60);
                .to-center();
                color: @kosher-color__01;
                margin-bottom: 0;
                position: absolute;
                text-align: center;
                text-shadow: 2px 2px rgba(0, 0, 0, .2);
                width: 95%;
            }

            .category-image {
                height: 195px;
                //margin-bottom: 20px;
                margin-bottom: 3vw;
            }

            img {
                border-radius: 8px;
                display: block;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            .category-description {
                display: none;
            }
        }
    }
}

//
//  Desktop before tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-view {
        .header.content {
            margin-bottom: 28px;
        }

        .column.main {
            .breadcrumbs {
                padding-left: 3px;
            }
        }

        .category-view {
            .catagory-title {
                .lib-font-size(92);
            }

            .category-image {
                height: auto;
                margin-bottom: 48px;
            }

            img {
                height: auto;
                object-fit: unset;
                width: auto;
            }
        }
    }
}

//
//  Middle 640
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .catalog-category-view {
        .column.main {
            width: 100%;
        }
    }
}

//
//  Mobile 480
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs2) {
    body.catalog-category-view {
        .category-view {
            .category-image {
                height: 150px;
                margin-bottom: 12px;
            }

            .catagory-title {
                .lib-font-size(36);
            }
        }
    }
}
