//
//  Common - Home main
//  _____________________________________________

& when (@media-common = true) {


    .home-main-slider {
        margin-bottom: 15px;
    }

    .home-updates,
    .home-adv-block {
        margin-bottom: 27px;
    }

    .cms-index-index {
        #maincontent {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .home-main .block-title {
        .lib-font-size(24);
        font-weight: @font-weight__bold;
        margin: 40px auto 20px;
        text-align: center;
    }

    .home-adv-block {
        border-radius: 8px;

        &.special {
            background: url('@{baseDir}images/home/specials-bg-02.jpg') no-repeat 50% 0;
        }

        &.sale {
            background: url('@{baseDir}images/home/sale-bg-02.jpg') no-repeat center 0;
        }

        &.new {
            background: url('@{baseDir}images/home/new-bg-02.jpg') no-repeat center 0;
        }

        &.special,
        &.sale,
        &.new {
            background-size: 100% auto;
        }

        @media only screen and (max-width: 1200px) {
            &.special,
            &.sale,
            &.new {
                background-size: auto 570px;
            }

        }
    }

    .home-adv-block__container {
        height: 156px;
        position: relative;
    }

    .home-adv-block__container-inner {
        .to-center();
        left: 50%;
        position: absolute;
        top: 55%;
        z-index: 10;
        text-align: center;
        width: 100%;
        padding: 0 20px;
    }

    .home-block-button() {
        .lib-font-size(14);
        .lib-line-height(17);
        letter-spacing: -.015em;
        padding: 7px 15px;
        background: @kosher-color__03;
        border-radius: 4px;
        border: 2px solid @kosher-color__03;
        color: @kosher-color__01;
        font-weight: @font-weight__bold;
        text-align: center;
        box-sizing: border-box;
        display: inline-block;

        &:hover,
        &:hover:visited {
            background: @kosher-color__27;
            color: @kosher-color__03;
            text-decoration: none;
        }

        &:visited{
            color: @kosher-color__01;
        }
    }

    .home-interactive {
        margin: 0 -10px;
        background: rgb(238, 238, 238);
        padding: 8px 0 10px 10px;
        position: relative;
        overflow: hidden;

        .block-content {
            padding: 0 2px;
        }
    }

    .home-interactive__blur {
        .size(100%);
        backdrop-filter: blur(30px);
        border-radius: 8px;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .widget-product-grid {
        margin-left: -10px;
        margin-right: -10px;
        position: relative;
        z-index: 2;

        &.slick-initialized {
            .slick-slide > div .product-item,
            .slick-slide > div {
                height: 100%;
            }
        }

        .product-item-info {
            margin: 0 8px;
        }

        body &.slick-slider.slick-initialized {
            overflow: unset;
        }
    }

    // Home main slider

    .home-main-slider {
        overflow-x: hidden;
    }

    .home-main-slider__list {
        .lib-list-reset-styles();
        border-radius: 8px;
        display: flex;
        opacity: 0;
        position: relative;
        transition: opacity .2s;

        &.slick-initialized {
            background: transparent;
            opacity: 1;

            .slick-list {
                padding: 0;
            }
        }

        .slick-track {
            height: 100%;
        }
    }

    .home-main-slider__slide {
        flex-grow: 1;
        flex-shrink: 0;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }

    .home-main-slider__content {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 42%;
        transform: translate(-50%, -50%);
        z-index: 10;
        display: flex;
        flex-direction: column
    }

    .home-main-slider__title {
        .lib-font-size(24);
        .lib-line-height(33);
        margin-bottom: 10px;
        color: @kosher-color__01;
        font-weight: @font-weight__bold;
        letter-spacing: -.015em;
        text-align: center;
    }

    .home-main-slider__button {
        .home-block-button();
        transition: @button_transition;
    }

    // Updates

    .home-updates {
        background: @kosher-color__14;
        border-radius: 6px;
        padding: 8px 6px 7px;

        &__title {
            .lib-font-size(18);
            .lib-line-height(24);
            letter-spacing: -.015em;
            color: @kosher-color__19;
            font-weight: @font-weight__semibold;
            margin-bottom: 7px;
            text-align: center;
        }

        &__inner-blocks {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }

        &__inner-block {
            background: @kosher-color__01;
            border-radius: 8px;
            border: 1px solid @kosher-color__15;
            color: @kosher-color__21;
            padding: 9px 11px;
            box-sizing: border-box;
            width: calc(~'50% - 4px');
        }

        &__date {
            .lib-font-size(10);
            .lib-line-height(12);
            margin-bottom: 5px;
        }

        &__subtitle {
            .lib-font-size(14);
            .lib-line-height(16);
            font-weight: 500;
        }

        &__text {
            display: none;
        }
    }
}

//
//  Tablet 768
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .home-updates,
    .home-adv-block {
        margin-bottom: 32px;
    }

    .home-main-slider {
        margin-bottom: 40px;

        &__content {
            top: 47.5%;
        }
    }

    .home-main-slider__title {
        font-size: 5.2vw;
        .lib-line-height(100);
    }

    .home-main-slider__button {
        .lib-font-size(20);
        .lib-line-height(24);
        padding: 16px 50px;
    }

    .home-adv-block__container {
        height: 500px;
        position: relative;
    }

    .home-updates {
        padding: 51px 24px 17px;

        &__title {
            .lib-font-size(48);
            .lib-line-height(58);
            font-weight: @font-weight__bold;
            margin-bottom: 41px;
        }
        &__inner-block {
            padding: 25px 40px;
        }

        &__date {
            .lib-font-size(14);
            .lib-line-height(16);
            font-weight: @font-weight__semibold;
            margin-bottom: 15px;
        }

        &__subtitle {
            .lib-font-size(24);
            .lib-line-height(33);
            font-weight: @font-weight__bold;
            margin-bottom: 25px;
        }

        &__text {
            display: flex;
    
            p {
                .lib-font-size(16);
                height: 20px;
                margin-bottom: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }
        }

        &__more {
            .lib-font-size(14);
            color: inherit;
            font-weight: @font-weight__semibold;
            margin-left: 10px;
            text-decoration: underline;
            white-space: nowrap;
        }
    }

    .home-interactive {
        padding: 22px 20px 30px;
        border-radius: 8px;
        margin: 0;
        overflow: visible;
        background: linear-gradient(0deg, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 70%, rgba(238, 238, 238, .4) 100%);
    }

    .widget-product-grid {
        opacity: 0;
        transition: opacity .2s;

        &.slick-initialized {
            opacity: 1;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .home-main .home-main-slider__title {
        .lib-font-size(96);
        margin-bottom: 28px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    // Slider

    .home-main-slider__list {
        height: 188px;

        .slick-slide > div {
            height: 100%;
        }
    }

    .home-main-slider__slide {
        height: 100%;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    .home-products-slider .products-grid .product-items {
        flex-flow: row;
        overflow: auto;
        margin-right: 0;
        .custom-scrollbar();
        
        .product-item-info {
            margin: 0 4px;
        }

        .slick-list {
            padding-right: 30px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .home-products-slider {
        .slick-list,
        .slick-track {
            width: 100%;
        }

        .product-items.slick-slider .slick-slide {
            width: 25%;
        }
    }
    
}