//
//  Common - Horizontal menu
//  _____________________________________________

& when (@media-common = true) {
    .page-wrapper > .page-bottom {
        width: 100%;
    }

    .kosher-horizontal-menu {
        margin-bottom: 22px;
        padding: 0;
        position: relative;
        width: 100%;
        z-index: 2;
        .custom-scrollbar();

        .navigation {
            max-width: inherit;
        }

        ul:not(.submenu) {
            .lib-list-reset-styles();
            display: flex;
            width: 100%;
        }

        @min-width: 170px;

        .level0.category-item {
            flex-grow: 1;
            margin-bottom: 0;
            min-width: @min-width;

            .level-top {
                align-items: center;
                display: flex;
                justify-content: center;
                padding: 12px 10px;
                background: @kosher-color__01;
                border: 1px solid @kosher-color__15;
                border-radius: 8px 8px 0 0;
                text-decoration: none;
                height: 100%;

                span {
                    color: @kosher-color__19;
                    display: block;
                    font-weight: @font-weight__semibold;
                    line-height: 1;
                    white-space: nowrap;
                }
            }

            &.nav-6 {
                min-width: @min-width + 25;
            }

            &:first-child {
                border-left: 1px solid @kosher-color__15;
            }
        }

        .submenu {
            display: none;
        }

        .category-icon {
            .size(24);
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 12px;
            position: relative;
            top: -1px;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}

//
//  Desktop before tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .kosher-horizontal-menu {
        @min-width: 217px;

        .level0.category-item {
            min-width: @min-width;

            .level-top {
                padding: 17px 10px 16px;
                transition: .2s border-color;

                &:hover {
                    border-color: @kosher-color__35;
                }

                span {
                    .lib-font-size(18);
                }
            }

            &.nav-6 {
                min-width: @min-width + 25;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__1370) {
    .kosher-horizontal-menu li.level0.category-item {
        min-width: inherit;
    }
}