//  Fonts
@font-family-name__base: 'inter';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@rob: 'roboto', @font-family__sans-serif;

//
//  Responsive variables
//  _____________________________________________

@screen__xs4: 341px;
@screen__xs3: 386px;
@screen__xs2: 481px;
@screen__xxs: @screen__xs3;
@screen__xs: 641px;
@screen__s: 769px;
@screen__m: 981px; // To mobile layout -1
@screen__1370: 1370px;
@screen__l: 1441px;
@screen__xl: 1681px;

@filters-transition: .25s;
@button_transition: all .2s;
