//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
//
//  Responsive variables
//  _____________________________________________

@screen__xxs: 375px;
@screen__xs2: 480px;
@screen__xs: 640px;
@screen__s: 768px;
@screen__m: 1025px;
@screen__l: 1440px;
@screen__xl: 1680px;

@indent__base: 10px;
@modal-title__border: @kos-color__03;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

}

//
//  Desktop 1680 min
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

}

//
//  Desktop 1680 max
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {

}

//
//  Desktop 1440 min
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}

//
//  Desktop 1440 max
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

}

//
//  Desktop 1025 min
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Desktop 1025 max
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Tablet 768
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

//
//  Middle 640
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

}


//
//  Mobile 480
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs2) {

}

//
//  Extra small 375
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {

}
