//
//  Common Login/Register
//  _____________________________________________

@login-line: 1px solid @kosher-color__15;

& when (@media-common = true) {
    .customer-account-login {
        .header.content {
            margin-bottom: 25px;
        }

        .page-main {
            height: 100%;
            padding-bottom: 25px;
        }

        .columns {
            background: @kosher-color__01;
            height: 100%;
        }

        .column.main {
            margin: 0 auto;
            max-width: 640px;
            padding: 80px 20px;
            width: 100%;
        }

        .page-title {
            text-align: center;
        }

        .actions-toolbar {
            & > .primary,
            & > .secondary {
                display: block;
                float: unset;

                .action {
                    display: block;
                    float: unset;
                    width: 100%;
                }
            }

            a.action {
                display: block;
            }
        }

        .login-container {
            .block-customer-login {
                width: 100%;
                float: none;

                .block-title,
                .field.note,
                .field.choice {
                    display: none;
                }
            }

            .fieldset:after {
                display: none;
            }

            .block-new-customer {
                border-top: @login-line;
                padding-top: 32px;
                clear: both;
                width: 100%;
                float: none;
    
                .block-title {
                    border-bottom: 0;
                    padding-bottom: 0;
                    margin-bottom: 10px;
                    text-align: center;

                    strong {
                        .lib-font-size(14);
                        font-weight: @font-weight__bold;
                    }
                }
    
                .action.create {
                    display: block;
                    text-align: center;
                }

                .block-content p {
                    display: none;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .customer-account-login .columns {
        padding: 0 48px;
    }
}
