//
//  Color variables
//  _____________________________________________

@kos-color__01: #ffffff;
@kos-color__02: #000000;
@kos-color__03: #be0e0b;
@kos-color__04: #0837b6;
@kos-color__05: #be0e0b;
@kos-color__06: #ff7c27;
@kos-color__07: #f2ba00;
@kos-color__08: #00c7be;
@kos-color__09: #2a9f47;
@kos-color__10: #007aff;
@kos-color__11: #cc7700;
@kos-color__12: #fafafa;
@kos-color__13: #f6f6f6;
@kos-color__14: #e6e6e6;
@kos-color__15: #c9c9c9;
@kos-color__16: #aaaaaa;
@kos-color__17: #949494;
@kos-color__18: #686868;
@kos-color__19: #474747;
@kos-color__20: #343434;
@kos-color__21: #202020;
@kos-color__22: #121212;
@kos-color__23: #9747ff;
@kos-color__24: #1d9bf0;
@kos-color__25: #1877f2;
@kos-color__26: #c4c4c4;
@kos-color__27: #eceffa;
@kos-color__28: #e1e7f6;
@kos-color__29: #343434;
@kos-color__30: #f0f7ff;
@kos-color__31: #d8dfe7;
@kos-color__32: #949494;

//
//  Theme colors
//  _____________________________________________

@modal-title__border: @kos-color__19;

@button-bg: @kos-color__04;
@button-hover-bg: @kos-color__27;
@button-active-bg: @kos-color__28;

@custom-form-input-bg:  linear-gradient(0deg, rgba(0, 122, 255, 0.06), rgba(0, 122, 255, 0.06)), @kos-color__01;

