//
//  Color variables
//  _____________________________________________

@kosher-color__01: #ffffff;
@kosher-color__02: #000000;
@kosher-color__03: #be0e0b;
@kosher-color__04: #0837b6;
@kosher-color__05: #be0e0b;
@kosher-color__06: #ff7c27;
@kosher-color__07: #f2ba00;
@kosher-color__08: #00c7be;
@kosher-color__09: #2a9f47;
@kosher-color__10: #007aff;
@kosher-color__11: #cc7700;
@kosher-color__12: #fafafa;
@kosher-color__13: #f6f6f6;
@kosher-color__14: #e6e6e6;
@kosher-color__15: #c9c9c9;
@kosher-color__16: #aaaaaa;
@kosher-color__17: #949494;
@kosher-color__18: #686868;
@kosher-color__19: #474747;
@kosher-color__20: #343434;
@kosher-color__21: #202020;
@kosher-color__22: #121212;
@kosher-color__23: #9747ff;
@kosher-color__24: #1d9bf0;
@kosher-color__25: #1877f2;
@kosher-color__26: #c4c4c4;
@kosher-color__27: #eceffa;
@kosher-color__28: #e1e7f6;
@kosher-color__29: #343434;
@kosher-color__30: #f0f7ff;
@kosher-color__31: #d8dfe7;
@kosher-color__32: #b1b1b1;
@kosher-color__33: #f0f0f0;
@kosher-color__34: #1e1e1e;
@kosher-color__35: #2531b6;

//
//  Theme colors
//  _____________________________________________

@modal-title__border: @kosher-color__19;

@button-bg: @kosher-color__04;
@button-hover-bg: @kosher-color__27;
@button-active-bg: @kosher-color__28;

@custom-form-input-bg:  linear-gradient(0deg, rgba(0, 122, 255, 0.06), rgba(0, 122, 255, 0.06)), @kosher-color__01;

