//
//  Icons variables
//  ---------------------------------------------

@icon-account: '\e907';
@icon-acc-address-book: '\e900';
@icon-acc-downlodable: '\e901';
@icon-acc-login: '\e902';
@icon-acc-newsletter: '\e903';
@icon-acc-orders: '\e904';
@icon-acc-reviews: '\e905';
@icon-acc-stored: '\e906';
@icon-apple: '\e908';
@icon-arrow-back: '\e909';
@icon-arrow-down: '\e90a';
@icon-arrow-down-full: '\e90b';
@icon-arrow-down-small: '\e90c';
@icon-arrow-forward: '\e90d';
@icon-arrow-left-small: '\e90e';
@icon-arrow-right-small: '\e90f';
@icon-arrow-up: '\e910';
@icon-arrow-up-full: '\e911';
@icon-arrow-up-small: '\e912';
@icon-binocle: '\e913';
@icon-bio: '\e914';
@icon-boutle: '\e915';
@icon-cart-new: '\e916';
@icon-change: '\e917';
@icon-checkmark: '\e918';
@icon-checkmark02: '\e919';
@icon-clear-field: '\e91a';
@icon-delete: '\e91b';
@icon-delete02: '\e91c';
@icon-euro01: '\e91d';
@icon-euro02: '\e91e';
@icon-facebook: '\e91f';
@icon-filter: '\e920';
@icon-first-page: '\e921';
@icon-gear: '\e923';
@icon-gear02: '\e924';
@icon-gf: '\e925';
@icon-hamburger: '\e926';
@icon-hamburger02: '\e927';
@icon-heart: '\e928';
@icon-home: '\e929';
@icon-last-page: '\e92a';
@icon-lens: '\e92c';
@icon-leans2: '\e92b';
@icon-list-grid: '\e92d';
@icon-list-list: '\e92e';
@icon-location: '\e92f';
@icon-login: '\e930';
@icon-minus-plusminus: '\e931';
@icon-note: '\e932';
@icon-notify: '\e933';
@icon-plus: '\e934';
@icon-plus-plusminus: '\e935';
@icon-quads: '\e936';
@icon-quads02: '\e937';
@icon-scales: '\e938';
@icon-select-arrow-down: '\e939';
@icon-select-arrow-up: '\e93a';
@icon-service: '\e93b';
@icon-toolbar-01: '\e947';
@icon-toolbar-02: '\e947';
@icon-sf: '\e93c';
@icon-sf: '\e93c';
@icon-shipment: '\e93d';
@icon-smile-no: '\e93e';
@icon-smile-no-black: '\e93f';
@icon-smile-yes: '\e940';
@icon-smile-yes-black: '\e941';
@icon-tel: '\e942';
@icon-tweeter: '\e943';
@icon-visable-no: '\e944';
@icon-visable-yes: '\e945';
@icon-x: '\e946';
