<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="block-content" data-bind="css: { 'empty-cart' : !getCartParam('summary_count') }">

    <button type="button"
            id="btn-minicart-close"
            class="action close"
            data-action="close"
            data-bind="
                attr: {
                    title: $t('Close')
                },
                click: closeMinicart()
            ">
        <span translate="'Close'"></span>
    </button>

    <if args="getCartParam('summary_count')">

        <div class="minicart-header">
            <div class="minicart-header__title">
                <span translate="'Cart'"></span>
                <div class="items-total">
                    <span translate="'Products of'"></span>
                    <span class="count" text="getCartParam('summary_count').toLocaleString(window.LOCALE)"></span>
                </div>
            </div>
            <a href="#" class="minicart-header-delete" id="minicart-header-delete" translate="'All delete'"></a>
        </div>

        <div data-action="scroll" class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                      render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"></each>
            </ol>
        </div>

        <div class="minicart-footer">

            <div class="minicart-footer__warning">
                <div translate="'The minimal sum for an order is 40.00. Excl. VAT'"></div>
            </div>

            <each args="getRegion('extraInfo')" render=""></each>

            <div class="actions" if="getCartParam('possible_onepage_checkout')">
                <div class="primary">
                    <button
                        id="top-cart-btn-checkout"
                        type="button"
                        class="action checkout"
                        data-action="close"
                        data-bind="
                            attr: {
                                title: $t('Checkout')
                            },
                            click: closeMinicart()
                        ">
                            <span  translate="'Checkout'"></span>:
                            <each args="getRegion('subtotalContainer')" render=""></each>
                    </button>
                    <div data-bind="html: getCartParamUnsanitizedHtml('extra_actions')"></div>
                </div>
                <div class="secondary">
                    <a href="/checkout/cart/" data-bind="attr: {href: shoppingCartUrl}">
                        <span  translate="'Cart'"></span>
                    </a>
                </div>
            </div>

        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">
        <div class="empty-cart-content">

            <h4 class="subtitle empty"><span translate="'You Have Not Made A Purchase Yet'"></span></h4>

            <div class="actions">
                <a class="minicart-continue-shopping-button" href="/"><span translate="'Continue Shopping'"></span></a>
            </div>

        </div>
    </ifnot>

    <div id="minicart-widgets" class="minicart-widgets" if="regionHasElements('promotion')">
        <each args="getRegion('promotion')" render=""></each>
    </div>

</div>
<each args="getRegion('sign-in-popup')" render=""></each>
