@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kvp2fm');
  src:  url('fonts/icomoon.eot?kvp2fm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kvp2fm') format('truetype'),
    url('fonts/icomoon.woff?kvp2fm') format('woff'),
    url('fonts/icomoon.svg?kvp2fm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acc_address_book:before {
  content: "\e900";
  color: #474747;
}
.icon-acc_downlodable:before {
  content: "\e901";
  color: #474747;
}
.icon-acc_login:before {
  content: "\e902";
  color: #474747;
}
.icon-acc_newsletter:before {
  content: "\e903";
  color: #474747;
}
.icon-acc_orgers:before {
  content: "\e904";
  color: #474747;
}
.icon-acc_reviews:before {
  content: "\e905";
  color: #474747;
}
.icon-acc_stored:before {
  content: "\e906";
  color: #474747;
}
.icon-account:before {
  content: "\e907";
  color: #474747;
}
.icon-apple:before {
  content: "\e908";
  color: #474747;
}
.icon-arrow_back:before {
  content: "\e909";
  color: #474747;
}
.icon-arrow_down:before {
  content: "\e90a";
}
.icon-arrow_down_full:before {
  content: "\e90b";
  color: #474747;
}
.icon-arrow_down_small:before {
  content: "\e90c";
  color: #474747;
}
.icon-arrow_forward:before {
  content: "\e90d";
  color: #474747;
}
.icon-arrow_left_small:before {
  content: "\e90e";
  color: #474747;
}
.icon-arrow_right_small:before {
  content: "\e90f";
  color: #474747;
}
.icon-arrow_up:before {
  content: "\e910";
}
.icon-arrow_up_full:before {
  content: "\e911";
  color: #474747;
}
.icon-arrow_up_small:before {
  content: "\e912";
  color: #474747;
}
.icon-binocle:before {
  content: "\e913";
  color: #474747;
}
.icon-bio:before {
  content: "\e914";
  color: #2a9f47;
}
.icon-boutle:before {
  content: "\e915";
}
.icon-cart:before {
  content: "\e916";
  color: #0837b6;
}
.icon-change:before {
  content: "\e917";
  color: #0837b6;
}
.icon-checkmark:before {
  content: "\e918";
  color: #fff;
}
.icon-checkmark02:before {
  content: "\e919";
  color: #474747;
}
.icon-clear_field:before {
  content: "\e91a";
  color: #474747;
}
.icon-delete:before {
  content: "\e91b";
  color: #949494;
}
.icon-delete02:before {
  content: "\e91c";
  color: #474747;
}
.icon-euro01:before {
  content: "\e91d";
  color: #474747;
}
.icon-euro02:before {
  content: "\e91e";
  color: #474747;
}
.icon-facebook:before {
  content: "\e91f";
  color: #1877f2;
}
.icon-filter:before {
  content: "\e920";
  color: #474747;
}
.icon-first_page:before {
  content: "\e921";
  color: #474747;
}
.icon-gear .path1:before {
  content: "\e922";
  color: rgb(0, 122, 255);
}
.icon-gear .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gear02:before {
  content: "\e924";
  color: #474747;
}
.icon-gf:before {
  content: "\e925";
  color: #f2ba00;
}
.icon-hamburger:before {
  content: "\e926";
  color: #49454f;
}
.icon-hamburger02:before {
  content: "\e927";
  color: #474747;
}
.icon-heart:before {
  content: "\e928";
}
.icon-home:before {
  content: "\e929";
  color: #007aff;
}
.icon-last_page:before {
  content: "\e92a";
  color: #474747;
}
.icon-leans2:before {
  content: "\e92b";
  color: #474747;
}
.icon-lens:before {
  content: "\e92c";
  color: #474747;
}
.icon-list_grid:before {
  content: "\e92d";
  color: #474747;
}
.icon-list_list:before {
  content: "\e92e";
  color: #474747;
}
.icon-location:before {
  content: "\e92f";
  color: #474747;
}
.icon-login:before {
  content: "\e930";
  color: #49454f;
}
.icon-minus_plusminus:before {
  content: "\e931";
  color: #474747;
}
.icon-note:before {
  content: "\e932";
  color: #474747;
}
.icon-notify:before {
  content: "\e933";
  color: #ff7c27;
}
.icon-plus:before {
  content: "\e934";
}
.icon-plus_plusminus:before {
  content: "\e935";
  color: #474747;
}
.icon-quads:before {
  content: "\e936";
  color: #7f7f7f;
}
.icon-quads02:before {
  content: "\e937";
  color: #474747;
}
.icon-scales:before {
  content: "\e938";
}
.icon-select_arrow_down:before {
  content: "\e939";
  color: #474747;
}
.icon-select_arrow_up:before {
  content: "\e93a";
  color: #474747;
}
.icon-service:before {
  content: "\e93b";
  color: #474747;
}
.icon-sf:before {
  content: "\e93c";
  color: #c70;
}
.icon-shipment:before {
  content: "\e93d";
  color: #474747;
}
.icon-smile_no:before {
  content: "\e93e";
  color: #474747;
}
.icon-smile_no_black:before {
  content: "\e93f";
  color: #474747;
}
.icon-smile_yes:before {
  content: "\e940";
  color: #474747;
}
.icon-smile_yes_black:before {
  content: "\e941";
  color: #474747;
}
.icon-tel:before {
  content: "\e942";
  color: #474747;
}
.icon-tweeter:before {
  content: "\e943";
  color: #1d9bf0;
}
.icon-visable_no:before {
  content: "\e944";
  color: #474747;
}
.icon-visable_yes:before {
  content: "\e945";
  color: #474747;
}
.icon-x:before {
  content: "\e946";
}
