@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Variables
//  _____________________________________________

@product-info-price: @color-gray34;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;
@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    // need to remove after reviews implementation
    .review-hardcode {
        .lib-font-size(16);
        .lib-line-height(24);
        letter-spacing: -.025em;
        margin: 34px 0 22px;
        display: flex;
        align-items: center;

        .product-full-width-section & {
            display: none;
        }

        svg {
            margin-right: 10px;
        }
    }

    // need to remove

    .catalog-product-view .column.main {
        background-color: @color-white;
        display: flex;
        flex-direction: column;
    }

    .page-title-wrapper.product {
        display: flex;
        flex-direction: row;
        margin-bottom: 17px;

        .page-title {
            margin-bottom: 0;
        }
    }

    .product-label {
        order: -1;
    }

    .product-label-item {
        font-weight: @font-weight__bold;
        margin-right: 15px;

        &--sale {
            color: @kosher-color__03;
        }

        &--new {
            color: @kosher-color__08;
        }
    }

    .attributes-top {
        margin-bottom: 10px;
        color: @kosher-color__19;
    }

    .product.attribute.description {
        margin-bottom: 12px;
        color: @kosher-color__19;
    }

    .stock {
        .lib-font-size(14);
        font-weight: @font-weight__heavier;
        letter-spacing: -.01em;
        line-height: 1;

        &.unavailable {
            color: @kosher-color__06;
        }

        &.available {
            color: @kosher-color__09;
        }
    }

    //  Category view
    .old-price,
    .old.price {
        .lib-css(color, @product-price__muted__color);
        text-decoration: line-through;
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .special-price {
        .price-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-cms,
    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    //  Product images general container
    //  -----------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

    //
    //  Product view
    //  -----------------------------------------

    .product.media {
        order: -1;
        padding: 30px 0 0;

        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }

        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }

        .items.thumbs {
            .lib-list-inline();
            > li {
                margin: 1rem 0 0;
            }

            img {
                display: block;
            }

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product-info-main {
        padding: 30px 10px;
        box-sizing: border-box;

        .product-image-right-labels {
            position: relative;
            width: auto;
            right: auto;
            display: flex;
            margin-bottom: 26px;
            gap: 15px;
        }

        .product-section-title {
            display: none;
        }

        .product-info-price-row {
            border-bottom: 1px solid @kosher-color__15;
            padding-bottom: 16px;
        }

        .product-info-price {
            display: flex;
            align-items: center;

            .special-price [data-price-type="finalPrice"] {
                color: @kosher-color__03;
            }

            [data-price-type="finalPrice"] {
                .lib-font-size(24);
                .lib-line-height(33);
                font-weight: @font-weight__bold;
                color: @kosher-color__19;
            }

            .price-box {
                display: flex;
                flex-direction: column;

                .old-price {
                    order: -1;
                    
                    .price-label {
                        display: none;
                    }

                    [data-price-type="oldPrice"] {
                        .lib-font-size(16);
                        .lib-line-height(24);
                        text-decoration: line-through;
                        color: @kosher-color__17;
                    }
                }
            }
        }

        .additional-attributes {
            display: flex;
            flex-wrap: wrap;
            margin-top: 21px;

            .attribute-item {
                letter-spacing: -.025em;
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                margin-right: 15px;
                min-width: 90px;
                color: @kosher-color__21;

                &__link {
                    color: @kosher-color__21;

                    &:not(:last-child):after {
                        content: ', ';
                        margin: 0 3px 0 -2px;
                    }
                }

                svg {
                    margin-right: 11px;
                }
            }
        }

        .product.alert {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .action.alert {
            &:extend(.action.primary all);
            display: flex;
            justify-content: center;
            align-items: center;
            background: @kosher-color__36;
            color: @kosher-color__06;
            border: 2px solid @kosher-color__36 !important;
            border-radius: 8px;
            text-decoration: none;
    
            &:before {
                .icomoon(@icon-notify, 20, @kosher-color__06);
                .size(20);
                margin-right: 9px;
            }
    
            &:hover {
                background: darken(@kosher-color__36, 10%);
                color: @kosher-color__06;transition: .2s all;
            }
        }

        .product-info-stock-sku {
            padding-bottom: @indent__s;

            .stock {
                display: none;
            }
        }

        .stock {
            margin: 0 0 3px;
        }

        .product {
            &.attribute {
                &.sku {
                    .type {
                        .lib-font-size(18);
                        .lib-line-height(30);
                        font-weight: @font-weight__semibold;
                        letter-spacing: -.015em;
                        color: @kosher-color__17;
                        margin-right: 6px;
                    }

                    .value {
                        .lib-font-size(18);
                        .lib-line-height(24);
                        font-weight: @font-weight__semibold;
                        letter-spacing: -.015em;
                        color: @kosher-color__19;
                        display: inline-block;
                    }
                }

                &.overview {
                    color: @kosher-color__19;
                    margin-top: 33px;
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        @calc-cell-width: 191px;
        @product-item-actions-cell-height: 60px;

        .product-add-form {
            align-items: flex-end;
            display: flex;
            height: @product-item-actions-cell-height;
            justify-content: flex-end;
            overflow: hidden;
            width: @calc-cell-width;
            margin-left: 60px;
        }

        .calc-cell-container {
            display: flex;
            height: 100%;
            left: -50px;
            position: relative;
            transition: left .2s;
            width: 332px;

            &.show-calc {
                left: 141px;
            }
        }

        .calc-cell {
            flex-grow: 0;
            flex-shrink: 0;
            position: relative;
            width: @calc-cell-width;

            .custom-validation-message {
                left: unset;
                right: 12px;
                transform: unset;
                width: 150px;
            }
        }

        .calculator {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            padding-right: 1px;

            .input-text.custom {
                .lib-font-size(16);
                border: 0;
                font-weight: @font-weight__semibold;
                margin: 2px;
                text-align: center;
                width: 50px;
            }

            .custom-qty-btn {
                .size(56);
                align-items: center;
                background: @kosher-color__01;
                border-radius: 8px;
                border: 1px solid @kosher-color__02;
                display: flex;
                flex-grow: 0;
                flex-shrink: 0;
                justify-content: center;
                position: relative;
                transition: all .2s;

                & > span {
                    display: none;
                }

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    background: @kosher-color__30;
                }

                &:before {
                    .to-center();
                }

                &.btn-plus {
                    &:before {
                        .icomoon(@icon-plus-plusminus, 12px, @kosher-color__19);
                    }
                }

                &.btn-minus {
                    &:before {
                        .icomoon(@icon-minus-plusminus, 2px, @kosher-color__19);
                    }
                }

                &.disabled {
                    background: @kosher-color__27;
                    border: 0;
                    pointer-events: none;
                }
            }
        }

        .add-to-calc {
            align-items: flex-end;
            display: flex;
            justify-content: flex-end;
        }

        .add-to-calc__button {
            .size(100%, 56px);
            align-items: center;
            background: @kosher-color__04;
            border-radius: 8px;
            border: 2px solid @kosher-color__04;
            display: flex;
            justify-content: center;
            position: relative;

            span {
                .lib-font-size(16);
                color: @kosher-color__01;
                display: block;
                font-weight: @font-weight__semibold;
                line-height: 1;
                text-transform: capitalize;
            }

            &:before {
                .icomoon(@icon-cart-new, 20px, @kosher-color__01);
                margin-right: 12px;
            }

            &:hover {
                background: @kosher-color__27;

                &:before {
                    color: @kosher-color__04;
                }

                span {
                    color: @kosher-color__04;
                }
            }
        }
    }

    .product-options-wrapper {
        .fieldset {
            &:focus {
                box-shadow: none;
            }
        }

        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }
        .field {
            .note.mage-error {
                color: @error__color;
            }
        }
    }

    .product-addto-links {
        display: inline;

        .action {
            margin-right: 5%;
        }
    }

    .product-social-links {
        margin: 0 0 20px;
        text-align: center;

        .action.tocompare {
            &:extend(.abs-actions-addto all);
            .lib-icon-font-symbol(
                @_icon-font-content: @icon-compare-full,
                @_icon-font-position: before
            );
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        margin-bottom: @indent__s + @indent__xs;

        .item {
            margin-bottom: @indent__s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }

    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        display: block;
        white-space: nowrap;
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    //
    //  Sidebar product view
    //  -----------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                font-size: 12px;
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .block-compare {
            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    right: initial;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  -------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  -------------------------------------

        .product-items-names {
            .product-item {
                display: flex;
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-product-view .column.main {
        flex-direction: row;
    }

    .attributes-top {
        margin-bottom: 31px;
    }

    .product.media {
        padding: 20px 0 80px;
    }

    .product-label-item {
        .lib-font-size(24);
        .lib-line-height(33);
    }

    .product-info-main {
        padding: 72px 40px 60px 71px;

        .page-title-wrapper {
            h1 {
                .lib-font-size(48);
                .lib-line-height(58);
                .lib-css(margin-bottom, @product-h1-margin-bottom-desktop);
            }
        }

        .product-info-price-row {
            display: flex;
            flex-flow: wrap;
        }

        .product {
            &.attribute {
                &.overview {
                    .lib-font-size(18);
                    .lib-line-height(30);
                }
            }
        }

        .additional-attributes .attribute-item {
            .lib-font-size(16);
            .lib-line-height(24);
            margin-right: 58px;
        }
    }

    .product-social-links {
        text-align: left;
    }

    //
    //  Category page layout
    //  -----------------------------------------

    .page-layout-1column {
        .product-info-main {
            width: 50%;
        }

        .product.media {
            width: 50%;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }

    .attributes-top,
    .product.attribute.description {
        .lib-font-size(18);
        .lib-line-height(30);
    }

    
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  -----------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
        position: relative; // Needed for Safari(iOS) to properly render 'overflow-x' rule.

        .table-comparison > tbody > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell {
            padding: 15px;
            width: 180px;

            &.label {
                border-right: @table__border-width @table__border-style @table__border-color;

                &.remove,
                &.product {
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.product {
                &.info,
                &.label {
                    border-bottom: @table__border-width @table__border-style @table__border-color;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
        }

        td {
            &:last-child {
                border-right: @table__border-width @table__border-style @table__border-color;
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action {
                &.toggle {
                    padding: 0;
                }

                &.split,
                &.toggle {
                    .lib-button-s();
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .sidebar {
        .product-items {
            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    line-height: unset;
                    position: absolute;
                    right: 0;
                    top: -1px;
                    width: auto;
                }
            }
        }

        .block-compare {
            .action {
                &.delete {
                    left: 0;
                    right: initial;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper {
        display: none;
    }

    .catalog-product_compare-index {
        .columns {
            .column {
                &.main {
                    flex-basis: inherit;
                }
            }
        }
    }

    .page-title-wrapper.product {
        align-items: flex-end;
    }

    .product-info-main .product-add-form {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;

        .calc-cell-container {
            width: 200%;
            left: -100%;
            margin-top: 10px;

            &.show-calc {
                left: 0;
            }
        }

        .calc-cell {
            width: 50%;
            justify-content: center;
        }

        .calculator {
            .custom-qty-btn {
                height: 30px;
                width: 30px;
                border-radius: 4px;
            }

            .input-text.custom {
                height: 30px;
                width: 40px;
            }
        }
        
        .add-to-calc__button {
            font-size: 1.2rem;
            line-height: 1.4rem;
            width: 100%;
            padding: 6px 10px;
            height: auto;
            border-radius: 4px;
            margin-left: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();

        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }

        .counter.qty {
            .lib-css(color, @primary__color__lighter);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.related {
        .action.select {
            &:extend(.abs-action-button-as-link all);
            vertical-align: top;
        }

        .product-item-details {
            position: relative;
            z-index: 1;
        }

        .related-available .product-item-name {
            margin-left: 20px;
        }

        .field.choice {
            left: 0;
            position: absolute;
            top: 2px;

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }
}
