<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Infomodus_Wine::wine" title="Infomodus Wine Migrate">
                    <resource id="Infomodus_Wine::wine_attributes" title="Attributes">
                        <resource id="Infomodus_Wine::wine_attributes_view" title="View"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
